{% extends 'base.html' %}

{% block content %}
    
    {% for article in detail %}
    <div class="row">
    <div class="col">
        {{article.content}}
    </div>
    </div>
    {% if forloop.counter == 1 %}
            Sisisi
    {% endif %}
    <div id="carouselExampleControls" class="carousel w-120 px-0 mx-0">
        <div class="carousel-inner">
            {% for image in img %}
            <div class="carousel-item">
                <div class="card">
                    <div class="img-wrapper"><img src="../static/img/car/{{image.url}}" class="d-block w-100" alt={{image.id}}> </div>
                    <div class="card-body">
                        {{image.descripcion|safe}}                        
                    </div>
                </div>
            </div>
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endfor %}
    
    {% empty %}
     <p>  No hay detalles del producto </p>
     {% endfor %}
    
<br>    

    

{% endblock %}

{% block footer %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
var multipleCardCarousel = document.querySelector(
  "#carouselExampleControls"
);
if (window.matchMedia("(min-width: 768px)").matches) {
  var carousel = new bootstrap.Carousel(multipleCardCarousel, {
    interval: false,
  });
  var carouselWidth = $(".carousel-inner")[0].scrollWidth;
  var cardWidth = $(".carousel-item").width();
  var scrollPosition = 0;
  $("#carouselExampleControls .carousel-control-next").on("click", function () {
    if (scrollPosition < carouselWidth - cardWidth * 4) {
      scrollPosition += cardWidth;
      $("#carouselExampleControls .carousel-inner").animate(
        { scrollLeft: scrollPosition },
        600
      );
    }
  });
  $("#carouselExampleControls .carousel-control-prev").on("click", function () {
    if (scrollPosition > 0) {
      scrollPosition -= cardWidth;
      $("#carouselExampleControls .carousel-inner").animate(
        { scrollLeft: scrollPosition },
        600
      );
    }
  });
} else {
  $(multipleCardCarousel).addClass("slide");
}
</script>
{% endblock %}