{% extends 'base.html' %}

{% block content %}

<h1 class="fw-bold mx-auto px-auto my-4 py-4 text-center">Descubri todos los modelos</h1>
        <div class="row">
       <div class="col ">
        <div class="d-none d-sm-block  d-sm-none d-md-block">
            <ul class="nav nav-tabs  ">            
                <li class="nav-item">
                  <a class="nav-link active  fw-bold" aria-current="page" href="#">
                    Filtrar por</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">Todos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark" href="#">Autos</a>
                </li>            
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Pickups y Comerciales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">SUVs y Crossovers</a>
                </li>              
              </ul>
        </div>
        <div class="d-md-none d-lg-none d-xl-none d-xxl-none">
            <div class="dropdown ">
                <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Ordenar Por
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Todos</a></li>
                  <li><a class="dropdown-item" href="#">Autos</a></li>
                  <li><a class="dropdown-item" href="#">Pickups y Comerciales</a></li>
                  <li><a class="dropdown-item" href="#">SUVs y Crossovers</a></li>
                </ul>
              </div>
        </div>
        
       </div>
       <div class="col text-end">
        <div class="dropdown">
            <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Ordenar Por
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Nada</a></li>
              <li><a class="dropdown-item" href="#">De mayor a menor</a></li>
              <li><a class="dropdown-item" href="#">de menor a mayor</a></li>
            </ul>
          </div>
       </div>
      </div> 
      <div class="row" id="list">
        <div class="col text-center">
          <h3>Etios</h3>
          <p>2019 ! $85.6000</p>
          
          <img src="../static/img/car/etios.jpg" title="Modelo" class="img-thumbnail"/>
        </div>

      </div>   
      {% endblock %}
      {% block footer %}
        <script>
          document.addEventListener('DOMContentLoaded', () => {
            const autoList = document.getElementById('list');
            console.log("Start proccess");
            fetch('../autos/?format=json')
                .then(response => response.json())
                .then(data => {
                    data.forEach(auto => {
                        const listItem = document.createElement('div');
                        listItem.innerHTML = `
                            <h3> ${auto.marca} ${auto.modelo}  ${auto.id} </h3>
                            <p> ${auto.anio} ! ${auto.precio}</p>
                            <img   src="../static/img/car/${auto.imagen_url}" title="${auto.marca} ${auto.modelo}" > `;
                        listItem.classList.add("col");
                        console.log(listItem);
                        autoList.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Error fetching autos:', error));
        });
        
        </script>
      {% endblock %}